body {
    background-color: #fffbf3;
}

header {
    background-color: #ffaf32;
}

button:hover {
    transform: scale(1.1);
    transition: .4s ease;
    background-color: #ffaf32 !important;
    border: none;
}

footer {
    background-color: #fffbb7;

    .footer-text {
        color: #ff6e33 !important;
    }
}

.navbar-brand {
    color: #ff6e33;
}

.nav-link:hover {
    transform: scale(1.1);
    transition: .4s ease;
}

.fas {
    color: #ff6e33;
}

.button-add {
    width: 60%;
    background-color: black !important;
    color: white !important;
    border: none;
    border-radius: 5px;
    margin: .2rem;
}

.button-add:hover {
    background-color: #ffaf32 !important;
    transform: scale(1.1);
    transition: .4s ease;
}

.card:hover {
    transform: scale(1.1);
    transition: .4s ease;
}

.btn:hover {
    transform: scale(1.1);
    transition: .4s ease;
    background-color: #ffaf32 !important;
}